.btn-status {
  border: 1px solid #00b087;
  border-radius: 4px;
  padding: 4px 12px;
  width: 80px;
  height: 29px;
  background: rgba(22, 192, 152, 0.38);
}

.btn-status--inactive {
  border: 1px solid #df0404;
  background: #ffc5c5;
}
