.search {
  position: relative;
  box-sizing: content-box;
  width: 216px;
  height: 38px;
  padding-right: 44px;
}
.search__input {
  padding-left: 42px;
  border: none;
  background-color: #E7E7E7;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.search__btn {
  position: absolute;
  left: 8px;
  top: 7px;
  background-image: url('../../img/search_icon.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
